package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.example.springboot.model.form.Result;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package.Entity}.${entity}Req;
import ${package.Entity}.${entity}Resp;
/**
 * @$!{table.comment}
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    Page<$!{entity}Resp> getPage($!{entity}Req req);

    Boolean addInfo($!{entity}Req req);

    $!{entity}Resp getInfo(Integer id);

    Boolean deleteInfos(String ids);
}
#end
